*{
  border: solid 1px, purple;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.1) ,rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 1), rgba(0, 0, 0, 1),rgba(0, 0, 0, 1)), url('https://image.tmdb.org/t/p/original//pq0JSpwyT2URytdFG0euztQPAyR.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  overflow: none;
  margin: 0%;
  height: 100%;
  width: 100%;
}

.movie-poster{
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 100%;
  width: 3000px;
  margin-top:20%;
  overflow-y: scroll;
}