/* .movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(10, 10, 11, 0.8) ,rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 1), rgba(0, 0, 0, 1),rgba(0, 0, 0, 1)), url('https://image.tmdb.org/t/p/original//pq0JSpwyT2URytdFG0euztQPAyR.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  overflow: none;
  margin: 0%;
  height: 100%;
  width: 100%;
  border: 1px solid purple;
} */

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid red;
}

.navlink {
  height: 35%;
  width: 11%;
  margin: 10px;
  contain: content;
}

/* .movie-poster {
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 100%;
  width: 3000px;
  margin-top:20%;
  overflow-y: scroll;
} */