.movie-card {
  display: flex;
  justify-content: flex-end;
  height: 20%;
  width: 10%;
  margin: 5px;
  border: 3px solid #000000;
  overflow-y: scroll;
}

.movie-card:hover {
  box-shadow: 4px 4px 3px black;
  cursor: pointer;
}

.mini-poster {
  height: 100%;
  width: 100%;
}

.logo {
  position: absolute;
  align-self: flex-start;
  justify-self: flex-start;
  margin-left: -7%;
  height: 2%;
  width: auto;
}

.rating {
  display: flex;
  margin-left: 0px;
  flex-direction: column;
  position: absolute;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  height:2%;
  width: 3%;
  font-size: 7pt;
  color: black;
  background-color: rgb(255, 255, 255, .6);
  text-align: center;
  box-sizing: border-box;
}
