.movie-card {
  display: flex;
  height: 20%;
  width: 30%;
  margin: 15px;
  border: 3px solid #000000;
}

.movie-card:hover {
  box-shadow: 4px 4px 3px black;
  cursor: pointer;
}

.mini-poster {
  height: 100%;
  width: 100%;
}

.logo {
  position: absolute;
  height: 3%;
  width: auto;
}

.rating {
  display: flex;
  margin: 0px 0px 0px 150px;
  flex-direction: column;
  position: absolute;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  height:2%;
  width: 5%;
  color: black;
  background-color: rgb(255, 255, 255, .6);
  text-align: center;
}
