.nav {
  text-decoration: none;
}

.movie-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 1px solid #000000;
  overflow: hidden;
}

.movie-card:hover {
  cursor: pointer;
}

.mini-poster {
  height: 90%;
  width: 100%;
  transition: all .2s ease-in-out;
}

.mini-poster:hover {
  transform: scale(1.1);
}

.title-logo-rating {
  display: flex;
  height: 13%;
  width: 100%;
  background-color: #3d3c3c;
  margin-top: -7px;
}

.movie-title {
  width: 70%;
  font-size: .7em;
}

.movie-title,
.rating {
display: flex;
flex-direction: column;
height: 100%;
margin: 0px 0px 0px 5px;
text-align: left;
justify-content: center;
color: white;
}

.logo {
  height: 50%;
  width: 10%;
  align-self: center;
  margin-left: 3%;
}

.rating {
  font-size: 9pt;
  height: 100%;
}
