.movie-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
}

/* .home-btn-container {
    margin-bottom: 10px;
    
} */

.back-to-home-btn {
    background: none;
    border: 0;
    box-sizing: border-box;
    color: transparent;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    left: 50%;
    letter-spacing: 1.5px;
    line-height: 90px;
    outline: none;
    overflow: hidden;
    padding: 10px 0 0;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in;
    width: 100px;
  }
  
  .back-to-home-btn::before,
  .back-to-home-btn::after {
    background-color: white;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    transform-origin: center left;
    transition: all 0.2s ease-in;
    width: 141.4214px;
    z-index: -1;
  }
  
  .back-to-home-btn::before {
    top: 0;
    transform: rotate(45deg);
  }
  
  .back-to-home-btn::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  
  .back-to-home-btn:hover {
    color: #8A2387;
  }
  
  .back-to-home-btn:hover::before,
  .back-to-home-btn:hover::after {
    height: 50px;
    transform: rotate(0deg);
  }

/* .movie-details-container {
    justify-content: space-around;
} */

.modal-mini-poster{
    position: absolute;
    height: 15%;
    margin: 15px;
}

.rating-tagline-container {
    display: flex;
    flex-direction: column;
}

.modal-back-drop{
    margin-top: 5%;
    height: 50%;
    width: 100%;
    background: linear-gradient(to bottom,
    rgba(64, 64, 64, 1) 0%,
    rgba(64, 64, 64, 0) 10%,
    rgba(64, 64, 64, 0) 90%,
    rgba(64, 64, 64, 1) 100%
    );
}

/* .modal-logo{
    position: absolute;
    height: 30px;
} */

p {
    margin: 3%;
}

.modal-rating{
    position: absolute;
    font-size: 20px;
    color: white;
}

.modal-title{
    position: absolute;
    height: 300px;
    margin-left: 15%;
}

.modal-overview {
    height: 25%;
    width: 40%;
    contain: content;
    margin-left: 60%;
    text-align: justify;
    font-size: small;
    /* overflow: scroll; */
}

.modal-release-date{
    position: absolute;
}


.genres{
    position: absolute;
}


.budget{
    position: absolute;
}


.runtime{
    position: absolute;
}


.revenue{
    position: absolute;
}

.tagline{
    position: absolute;
}