.movie-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    background: rgb(147, 49, 28, .8);
}

.home-btn-container {
    margin-bottom: 10px;   
}

.back-to-home-btn {
    background: none;
    border: none;
    box-sizing: border-box;
    color: transparent;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    left: 50%;
    letter-spacing: 1.5px;
    line-height: 90px;
    outline: none;
    overflow: hidden;
    padding: 10px 0 0;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in;
    width: 100px;
  }
  
  .back-to-home-btn::before,
  .back-to-home-btn::after {
    background-color: white;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    transform-origin: center left;
    transition: all 0.2s ease-in;
    width: 141.4214px;
    z-index: -1;
  }
  
  .back-to-home-btn::before {
    top: 0;
    transform: rotate(45deg);
  }
  
  .back-to-home-btn::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  
  .back-to-home-btn:hover {
    color: #8A2387;
  }
  
  .back-to-home-btn:hover::before,
  .back-to-home-btn:hover::after {
    height: 50px;
    transform: rotate(0deg);
  }

.movie-details-container {
    overflow: scroll;
    height: 25%;
    contain: content;
}

.modal-mini-poster{
    position: absolute;
    height: 15%;
    margin: 15px;
    margin-top: 5%;
}

.modal-back-drop{
    margin-top: 5%;
    height: 50%;
    width: 100%;
    background: linear-gradient(to bottom,
    rgba(64, 64, 64, 1) 0%,
    rgba(64, 64, 64, 0) 10%,
    rgba(64, 64, 64, 0) 90%,
    rgba(64, 64, 64, 1) 100%
    );
}

/* .modal-logo{
    position: absolute;
    height: 30px;
} */

p {
    margin: 3%;
    font-size: small;
}

.modal-rating{
    position: absolute;
    font-size: 20px;
    color: black;
    margin-top: 45%;
    margin-left: 35%;
}

.modal-title{
    position: absolute;
    height: 300px;
    margin-left: 15%;
}

.modal-overview {
    height: 25%;
    width: 40%;
    contain: content;
    margin-left: 50%;
    text-align: justify;
}

.modal-release-date{
    position: absolute;
    margin-top: 6%;
    margin-left: 15%;
}

.genres{
    position: absolute;
    margin-top: 14%;
    margin-left: 15%;
    width: 20%;
}

.budget{
    position: absolute;
    margin-top: 10%;
    margin-left: 15%;
}

.runtime{
    position: absolute;
    margin-top: 8%;
    margin-left: 15%;
}

.revenue{
    position: absolute;
    margin-top: 12%;
    margin-left: 15%;
}

.tagline{
    position: absolute;
    margin-top: 50%;
    margin-left: 35%;
    text-shadow: 5px 5px white;
    font-size: larger;
}