* {
  z-index: 2;
}

.movie-info {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100%;
}

.link-to-home {
    width: 3%;
    height: 5%;
    align-self: flex-end;
    margin: 1% 1.5% 0% 0%;
    font-size: 1.5em;
    z-index: 3;
    border: 1px solid white;
}

.back-to-home-btn {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

.back-to-home-btn:hover {
    color: black;
    background-color: white;
}

.movie-details-container {
    display: flex;
    height: 50%;
    width: 100%;
    margin-top: -4.5%;
    color: white;
    overflow-y: scroll;
    background-color: rgb(0, 0, 0, .7);
}

.single-movie-mini-poster {
    margin: 3% 0% 0% 7%;
    height: 80%;
    width: 12%;
}

.movie-details-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    width: 60%;
}

.single-movie-back-drop {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.single-movie-title {
    font-size: 2em;
    margin-bottom: 1%;
}

.single-movie-overview {
    text-align: center;
    font-size: 1.1em;
    margin: 0% 2% 1% 2%;
}

.tagline {
    font-size: 1.3em;
    margin-bottom: 1%;
}

.loading {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 80px;
    color: white;
    background-color: rgb(147, 49, 28, .8);
    text-align: center;
    font-size: 3em;
}

.feature-wrapper {
    display: flex;
    align-self: center;
    height: 100%;
    width: 100%;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
}
  
.feature-wrapper {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.my-swiper-movies {
    width: 40%;
    height: 270%;
    margin-bottom: 1%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.video {
    margin: 1%;
    box-shadow: 5px 0px 5px black, -5px 0px 5px black, 0px 5px 5px black, 0px -5px 5px black;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: rgb(0, 0, 0, .7);
}

::-webkit-scrollbar-thumb {
    background: rgb(43, 43, 43, .8);
}

::-webkit-scrollbar-corner {
    background: rgb(0, 0, 0, .7);
}