.movie-info{
    box-sizing: border-box;
    margin: 0;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: rgb(147, 49, 28, .8);
    color: whitesmoke;
    text-decoration: black;
}

/* ==================================
     movie details container
   ================================== */

.movie-details-container {
    display: grid;
    contain: content;
} 
.movie-details {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 100%;
}
.movie-details img  {
    max-width: 20vh;
    max-height: 180px;
}
.movie-details .content-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    gap: .2em;
}
.single-movie-overview {
    width: 100%;
    contain: content;
    /* margin-top: 3vh; */
    padding: 0 10px;
    flex-wrap: wrap;
} 
.back-to-home-btn {
    background-color: black;
    color: white;
    margin-left: 90vw;
    padding: 10px;
    cursor: pointer;
}
  
.back-to-home-btn:hover {
    color: black;
    background-color: white;
}

/* ^^^^^NEED TO REFACTOR TO BE RESPONSIVE WITH PAGE */

/* =========================================
          movie-video-trailer-container
    ========================================= */
.movie-video-trailer-container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.single-movie-back-drop{
    position: absolute;
    align-items: baseline;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom,
    rgba(64, 64, 64, 1) 0%,
    rgba(64, 64, 64, 0) 10%,
    rgba(64, 64, 64, 0) 90%,
    rgba(64, 64, 64, 1) 100%
    );
}
.single-movie-back-drop img{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 95%;
    object-fit: cover;
}

p {
    font-size: .75em;
    margin: 2%;
}



.single-movie-rating {
    position: absolute;
    font-size: 2em;
    background-color: white;
    opacity: 50%;
    margin-top: 60vh;
    color: black;
    font-weight: 500%;
}

.tagline {
    position: absolute;
    background: white;
    text-align: center;
    opacity: 50%;
    contain: content;
    margin-top: 50vh;
    font-size: larger;
    color: black;
    font-weight: 500%;
}

.loading {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 80px;
    color: white;
    background-color: rgb(147, 49, 28, .8);
    text-align: center;
    font-size: 3em;
}

.video-box {
    display: flex;
    position: absolute;
    align-items: flex-end;
    height: 40%;
    width: 42%;
    right: 29%;
    bottom: 0;
}

.movie-trailer {
    height: 100%;
    width: 80%;
}

.previous-btn-container,
.next-btn-container {
    height: 10%;
    width: 10%;
    margin-bottom: 5px;
}

.previous-video,
.next-video {
    height: 100%;
    width: 100%;
} 

/* ==============================
        mobile view
    ============================ */
@media (max-width: 500px) {
    .movie-details {
        grid-template-columns: 1fr;
    }
    .single-movie-overview {
        max-width: 90%;
        align-self: center;
    }
    .back-to-home-btn  {
        margin-left: 87vw;
    }
}