
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
  width: 100%;
  color: white;
  background-color: rgb(147, 49, 28, .8);
  box-shadow: 8.0px 16.0px 16.0px rgb(147, 149, 28, 0.25);
  margin: 0%;
}

h1 {
  font-size: 2em;
  margin: 10px;
}

.logo-header{
  height: 70%;
  width: 3%;
}