
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    color: white;
    background-color: rgb(147, 49, 28, .8);
    box-shadow: 8.0px 16.0px 16.0px rgb(147, 149, 28, 0.25);
    --shadow-color: purple;
    margin: 0%;
}

h1 {
    font-size: 3em;
    margin: 10px;
    filter: drop-shadow(10px 6px 4px rgba(241, 109, 15, 0.25));
    --shadow-color: rgb(116, 80, 14);
}

.logo-header{
   height: 40px;
}